VITE_AUTH_API_URL=http://localhost:8081/api
VITE_IDEAS_API_URL=http://localhost:8082/api
VITE_PROFILE_API_URL=http://localhost:8083/api
VITE_TRENDING_API_URL=http://localhost:8085
VITE_REPUTATION_API_URL=http://localhost:8084
